.parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 5vh 0vw;
  background: linear-gradient(
    to right,
    #2980b9,
    #6dd5fa,
    #0f899e,
    #32c5c5,
    #2f5cd8
  );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  overflow-y: auto;

  .child {
    width: 95vw;
    height: 2000px;
    background-color: #0b39d3;
    z-index: 9999;
    border-radius: 30px;
    border: solid 3px #9b9b9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;

    .closediv {
      background-color: transparent;
      height: 70px;
      width: 90vw;
      display: flex;
      justify-content: right;
      align-items: center;

      .closeButton {
        background: none;
        border: none;
        cursor: pointer;
        height: 80px;
        width: 80px;

        .icon {
          color: #ffffff;
          font-size: 24px;
          background-color: transparent;
        }
      }
    }
    .titleparent {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      width: 85vw;
      background-color: transparent;
      background-color: #07226a;
      border-radius: 30px;
      border: solid 3px #9b9b9b;

      .title {
        color: #ffffff;
        text-align: center;
        background-color: transparent;
      }
    }
    .aidescriptionparent {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85vw;
      background-color: #07226a;
      border-radius: 30px;
      border: solid 3px #9b9b9b;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;

      .aitextparent {
        width: 80vw;
        text-align: center;

        .aidescription {
          font-size: 20px;
          color: #ffffff;
          font-weight: 600;
        }
      }
    }

    .tempparent {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 150px;
      width: 85vw;
      background-color: transparent;
      flex-direction: row;
      gap: 30px;
      background-color: #07226a;
      border-radius: 30px;
      border: solid 3px #9b9b9b;

      .currenttemp {
        background-color: transparent;
        color: #ffffff;
        font-size: 50px;
        font-weight: 600;
      }
      .CurrentIcon {
        background-color: transparent;
        height: 10vh;
      }
    }

    .minandmaxtemp {
      display: flex;
      width: 85vw;
      background-color: transparent;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: #07226a;
      border-radius: 30px;
      border: solid 3px #9b9b9b;

      .minormaxtemp {
        background-color: transparent;
        font-size: 40px;
        color: #ffffff;
        font-weight: 600;
      }

      .minmaxtempconnection {
        height: 10px;
        width: 30vw;
        border-radius: 20px;
        background: linear-gradient(to right, #489feb, #e23b3b);
      }
    }
    .hourforecast {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 5vw;
      background-color: #052b92;
      padding: 5vh 2vw;
      width: 85vw;
      border-radius: 30px;
      border: solid 3px #9b9b9b;

      .forecasthour {
        display: flex;
        background-color: #07226a;
        height: 300px;
        width: 23vw;
        border-radius: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        gap: 20px;
        border: solid 3px #737477;

        .parenthourinxhours {
          width: 23vw;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #020b23;
          border-radius: 30px;

          .hourinxhours {
            color: #ffffff;
            font-weight: 600;
            font-size: 35px;
            background-color: transparent;
          }
        }

        .parenttempinxhours {
          width: 23vw;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #020b23;
          border-radius: 30px;

          .tempinxhours {
            color: #ffffff;
            font-weight: 600;
            font-size: 45px;
            background-color: transparent;
          }
        }
        .parenticoninxhours {
          width: 23vw;
          height: 180px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #020b23;
          border-radius: 30px;

          .iconinxhours {
            height: 100px;
            background-color: transparent;
          }
        }
      }
    }
  }
}
