* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #4449e1, #3d4e99, #669fd4, #5c7bcf);
  background-size: 100vw 300vh;
}

.generalstyles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  padding: 30px;
}
