* {
  background-color: #04083d;
  font-family: Arial, Helvetica, sans-serif;
}

.generalstyles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
}

@media (max-width: 600px) {
  * {
    transform: scale(90%);
  }
}
