.input {
  background-color: #ffff;
  border: none;
  height: 70px;
  width: 400px;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  border: 2px solid #000000;
}

.parent {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 550px;
  height: 80px;
  background-color: #447891;
  border-radius: 40px;
  border: solid 3px #b6cadf;
}

.searchbutton {
  border: none;
  background-color: #ffffff;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  border: 2px solid #000000;
}

.fa-magnifying-glass {
  color: #000000;
  background-color: #ffff;
  font-size: 30px;
}
