.parent {
  width: 90vw;
  height: 10vh;
  background-color: #272783;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  font-size: 45px;
  box-shadow: 0px 0px 30px 30px #39399f;
  .title {
    background-color: transparent;
    color: #e6b516;
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .parent {
    font-size: 35px;
  }
}
